# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment directories
venv/
ENV/
env/
.venv/
.pyvenv/
pip-selfcheck.json

# PyInstaller
#  Usually these files are written by a Python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Flask cache and session files
instance/
*.log

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
coverage.*
.cache
nosetests.xml
coverage.xml
*.lcov

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyenv
.python-version

# Editor and IDE settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment variables
.env
.env.*
